{% extends "base.twig" %}

{% block main %}
    <div class="planetes-container">
        {% for planete in planetes %}
            <div class="planete-card">
                <h3>{{ planete.nom }}</h3>
                <img src="{{ planete.image }}" alt="{{ planete.nom }}" class="planete-image">
                <p><strong>Description :</strong> {{ planete.description }}</p>
                <p><strong>Rôle :</strong> {{ planete.role }}</p>
                <p><strong>Apparitions :</strong> {{ planete.apparitions }}</p>
                <p><strong>Climat :</strong> {{ planete.climat }}</p>
                <p><strong>Habitants principaux :</strong> {{ planete.habitants_principaux }}</p>
                <p><strong>Type :</strong> {{ planete.type }}</p> 
                <p><strong>Coordonnées :</strong> {{ planete.coordonnees }}</p> 
                <p><strong>Gravité :</strong> {{ planete.gravite }}</p> 
                <p><strong>Langues :</strong> {{ planete.langues }}</p> 
                <a href="{{ planete.lien }}" target="_blank"><i class="bi bi-arrow-right fleched"></i></a>
            </div>
        {% endfor %}
    </div>
{% endblock main %}