{% extends "base.twig" %}

{# Ce modèle TWIG étend le modèle 'base.twig' : il contient tous les éléments fixes
et un bloc main dont le contenu est spécialisé pour afficher un livre #}


{% block main %}
{% if lang == 'en' %}
    <div class="perso-container">
        {% for perso in personnages %}
            <div class="personnage-card {{ perso.couleur|lower }}">
                <div class="imgcard">
                    <img src="{{ perso.image }}" alt="{{ perso.nom }}" class="perso-image flottant">
                </div>
                <div class="textcard">
                    <div class="top">
                        <h3>{{ perso.nom }}</h3>
                        <img src="{{ perso.badge }}" alt="{{ perso.statut}}" class="imgtop">
                    </div>
                    <p><strong>Status :</strong> {{ perso.statut }}</p>
                    <p><strong>Role :</strong> {{ perso.role }}</p>
                    <p><strong>Main Weapon :</strong> {{ perso.arme_principale }}</p>
                    <p><strong>Favorite Ship :</strong> {{ perso.vehicule_favori }}</p>
                    <p><strong>Home Planet :</strong> {{ perso.planete_origine }}</p>
                    <p><strong>Appearance :</strong> {{ perso.film_apparition }}</p>
                    <p><strong>Actor :</strong> {{ perso.acteur }}</p>
                    <ul>
                        <li><strong>Age :</strong> {{ perso.caracteristiques.age }}</li>
                        <li><strong>Height :</strong> {{ perso.caracteristiques.taille }}</li>
                        <li><strong>Weight :</strong> {{ perso.caracteristiques.poids }}</li>
                        <li><strong>Gender :</strong> {{ perso.caracteristiques.sexe }}</li>
                    </ul>
                    <a href="{{ perso.lien }}" target="_blank"><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="perso-container">
        {% for perso in personnages %}
            <div class="personnage-card {{ perso.couleur|lower }}">
                <div class="imgcard">
                    <img src="{{ perso.image }}" alt="{{ perso.nom }}" class="perso-image flottant">
                </div>
                <div class="textcard">
                    <div class="top">
                        <h3>{{ perso.nom }}</h3>
                        <img src="{{ perso.badge }}" alt="{{ perso.statut}}" class="imgtop">
                    </div>
                    <p><strong>Statut :</strong> {{ perso.statut }}</p>
                    <p><strong>Rôle :</strong> {{ perso.role }}</p>
                    <p><strong>Arme Principale :</strong> {{ perso.arme_principale }}</p>
                    <p><strong>Vaisseau favori :</strong> {{ perso.vehicule_favori }}</p>
                    <p><strong>Planète d'origine :</strong> {{ perso.planete_origine }}</p>
                    <p><strong>Apparition :</strong> {{ perso.film_apparition }}</p>
                    <p><strong>Acteur :</strong> {{ perso.acteur }}</p>
                    <ul>
                        <li><strong>Âge :</strong> {{ perso.caracteristiques.age }}</li>
                        <li><strong>Taille :</strong> {{ perso.caracteristiques.taille }}</li>
                        <li><strong>Poids :</strong> {{ perso.caracteristiques.poids }}</li>
                        <li><strong>Sexe :</strong> {{ perso.caracteristiques.sexe }}</li>
                    </ul>
                    <a href="{{ perso.lien }}" target="_blank"><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock main %}
