{% extends "base.twig" %}

{% block main %}
{% if lang == 'en' %}
    <div class="planetes-container">
        {% for planete in planetes %}
            <div class="planete-card">
                <h3>{{ planete.nom }}</h3>
                <img src="{{ planete.image }}" alt="{{ planete.nom }}" class="planete-image">
                <p><strong>Description :</strong> {{ planete.description }}</p>
                <p><strong>Role :</strong> {{ planete.role }}</p>
                <p><strong>Appearances :</strong> {{ planete.apparitions }}</p>
                <strong>Characteristics :</strong>
                <ul>
                    <li><strong>Climate :</strong> {{ planete.caractéristiques.climat }}</li>
                    <li><strong>Main Inhabitants :</strong> {{ planete.caractéristiques.habitants_principaux }}</li>
                    <li><strong>Type :</strong> {{ planete.caractéristiques.type }}</li>
                    <li><strong>Coordinates :</strong> {{ planete.caractéristiques.coordonnees }}</li>
                    <li><strong>Gravity :</strong> {{ planete.caractéristiques.gravite }}</li>
                    <li><strong>Languages :</strong> {{ planete.caractéristiques.langues }}</li>
                </ul>
                <a href="{{ planete.lien }}" target="_blank"><i class="bi bi-arrow-right fleched"></i></a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="planetes-container">
        {% for planete in planetes %}
            <div class="planete-card">
                <h3>{{ planete.nom }}</h3>
                <img src="{{ planete.image }}" alt="{{ planete.nom }}" class="planete-image">
                <p><strong>Description :</strong> {{ planete.description }}</p>
                <p><strong>Rôle :</strong> {{ planete.role }}</p>
                <p><strong>Apparitions :</strong> {{ planete.apparitions }}</p>
                <strong>Caractéristiques :</strong>
                <ul>
                    <li><strong>Climat :</strong> {{ planete.caractéristiques.climat }}</li>
                    <li><strong>Habitants principaux :</strong> {{ planete.caractéristiques.habitants_principaux }}</li>
                    <li><strong>Type :</strong> {{ planete.caractéristiques.type }}</li>
                    <li><strong>Coordonnées : :</strong> {{ planete.caractéristiques.coordonnees }}</li>
                    <li><strong>Gravité :</strong> {{ planete.caractéristiques.gravite }}</li>
                    <li><strong>Langues :</strong> {{ planete.caractéristiques.langues }}</li>
                </ul>
                <a href="{{ planete.lien }}" target="_blank"><i class="bi bi-arrow-right fleched"></i></a>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock main %}